.officeCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    /* overflow: hidden; */
    margin-bottom: 20px;
    width: 300px;
    /* Chiều rộng tối đa của mỗi card */
}

.officeCard img {
    width: 100%;
    display: block;
    height: auto;
    /* Để tỷ lệ khung hình không bị méo */
}

.officeDetails {
    padding: 15px;
    text-align: left;
}