.whatIsCoworker {
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.coworkerInfo {
    maxWidth: 50%;
    padding: 20px;
}

.coworkerImage img {
    maxWidth: 100%;
    height: auto;
}

@media (max-width: 768px) {

    .whatIsCoworker .coworkerInfo,
    .whatIsCoworker .coworkerImage {
        maxWidth: 100%;
        marginBottom: 20px;
    }
}